html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    
}

.container {
}

header, footer {
    background-color: rgb(255, 185, 65);
    min-height: 10vh;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

}
a {
    padding: 2vw;
    text-decoration: none;
    color: black;
}
.content {
    display: flex;
    flex-direction: column;
}
#main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1 {
    background-color: white;
    padding: 25px;
    margin-bottom: 100px;
    font-size: 2em;
    
}
h2 {
    padding-top: 65px;
    padding-bottom: 0px;
    margin: 0;
    font-weight: bolder;
    font-size: 1.4em;
}
p {
    line-height: 40px;
    font-weight: lighter;
}
.block:nth-child(3) {
    background-color: rgb(184, 188, 206);
}
.block:nth-child(4) .imcont {
    min-height: 40vh;
    border: 10px solid rgb(233, 233, 233);
}
.block, #main, .words, .images {
    padding: 0 80px;
}
.block {
    margin: 4px 0;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
}
#main {
    background-image: url("images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}
.words {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.images {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 40vh;
    
    
}

.pic {
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 2vw;
    

}
.imcont {
    height: 85%;

}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}
.caption {
    background-color: white;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#recipeMain {
    background-image: url("/images/bengal-burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#recipeMain h1 {
    padding-bottom: 0;
}
.details {
    background-color: rgb(184, 188, 206);
    padding: 70px 80px 100px 80px;
}
.row1 {
    width: 60%;
    display: flex;
    justify-content: space-between;

}
.row2 {
    padding-top: 25px;
    width: 31.8%;
    display: flex;
    justify-content: space-between;
}
.bold {
    font-weight: bold;
    padding: 10px;
}
.bengal {
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}
.stars {
    display: flex;
    justify-content: center;
    color: rgb(135, 0, 0);
    font-size: .5em;
}
.stars span {
    color: black;
    padding: 5px;
}

.namestars {

}
.buttonandprint {
    padding-left: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonandprint button {
    font-size: .5em;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: rgb(135, 0, 0);
}
.buttonandprint img{
    width: 3%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 30px;
    margin: 10px;

}
.quote {
    color: rgb(65, 65, 65);
    background-color: rgb(238, 238, 255);
    width: 60%;
    margin: 0 auto;
    padding: 20px 150px;
    font-size: .6em;
}
.ingre-direct {
    width: 70%;
    margin: 0 auto 100px auto;
    display: flex; 
    justify-content: space-between;
}
.ingre-direct h3 {
    font-size: 1.7em;
}
.ingre {
    flex-basis: 40%;
}
.direct {
    flex-basis: 60%;
}
.ingre ul li {
    font-size: .8em;
    padding: 5px 0;
    line-height: 30px;
}
.direct ol li {
    font-size: .8em;
    padding: 10px 0;
    line-height: 30px;
    margin-bottom: 20px;
}
